body {
  font-family: "Abril Fatface";
}
#align {
  position: relative;
  border: 2px solid green;
}
.navbarList {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  text-decoration: none;
}

.navbarList li a {
  color: #a9a9a9;
  display: block;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

.navbarList a:hover {
  background-color: #ff3131;
  color: white;
}

button {
  background-color: #ff3131;
  border: none;
  color: white;
  margin-top: 30px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
}

.content p {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Abril Fatface";
  position: absolute;
  top: 0%;
  right: 0%;
  left: 15%;
}
.content span {
  color: grey;
  position: absolute;
  top: 10%;
  right: 2%;
  left: 70%;
}

.contentList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
  display: block;
  text-decoration: none;
}

.contentList li a {
  display: block;
  color: #000000;
  font-weight: bold;
  padding: 8px 32px;
  text-decoration: none;
}

.foodItems {
  display: flex;
  text-align: justify;
  position: absolute;
  right: 10%;
  top: 40%;
  left: 5%;
}
.container {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 15px 15px 10px #d3d3d3;
}
.container .box img {
  height: 130px;
  width: 125px;
  margin: 40px;
  border-radius: 190px;
}

.container .box p {
  font-weight: bold;
  text-align: center;
}

.hover {
  position: relative;
  display: block;
  cursor: pointer;
}

.hover:before,
span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

hover:before {
  left: -2.5px;

  position: relative;
  display: block;
  cursor: pointer;
}
.hover:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hover:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hover:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
